/* Error: expected "}".
 *    ,
 * 56 |             background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
 *    |                                                                            ^
 *    '
 *   project3\project3.scss 56:76  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a    \2577 \a 56 \2502              background-image: linear-gradient(to bottom, #FF79DA, #9356DC);\d\a    \2502                                                                             ^\a    \2575 \a   project3\\project3.scss 56:76  root stylesheet';
}
