$light-purple:  #e7d3ffee;
$primary-purple: #9356DC;
$secondary-pink: #FF79DA;
$mint-green: #99E2D0;
$dark-mint-green: rgba(0, 100, 0, 0.507);
$gray-background: rgba(211, 211, 211, 0.342);
$dark-gray-background: rgba(211, 211, 211, 0.651);

