* {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

@media all and (max-width: 768px) {
  .logo {
    -webkit-box-shadow: black 10px 0px 10px 0px;
            box-shadow: black 10px 0px 10px 0px;
    padding-bottom: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .img__size--logo {
    padding: 25px 0px 10px 0px;
    width: 50%;
  }
  .location__background {
    font-weight: bolder;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: roboto;
    padding: 10px 0px 15px 0px;
    background-color: lightgray;
  }
  .location-icon {
    margin-right: 15px;
  }
  .flex-menu__button {
    padding-bottom: 50px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .number__position1 {
    font-family: roboto;
    color: white;
    padding: 5px 7.5px 5px 7.5px;
    border-radius: 50px;
    background-color: #9356DC;
    margin-left: -122px;
  }
  .number__position2 {
    font-family: roboto;
    color: white;
    padding: 5px 7.5px 5px 7.5px;
    border-radius: 50px;
    background-color: #9356DC;
    margin-left: -125px;
  }
  .number__position3 {
    font-family: roboto;
    color: white;
    padding: 5px 7.5px 5px 7.5px;
    border-radius: 50px;
    background-color: #9356DC;
    margin-left: -65px;
  }
  .menu__background-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 35px 0px 60px 0px;
    background-color: #f2f2f2;
  }
  .top-right__new {
    font-family: roboto;
    padding: 5px 20px 5px 20px;
    background-color: #99E2D0;
    border-radius: 2.5px 2.5px 2.5px 2.5px;
    font-weight: bolder;
    color: darkgreen;
    margin-top: 10px;
    right: 45px;
    display: inline-block;
    position: absolute;
  }
  .menu__paragraph-text {
    font-weight: 300;
    font-family: roboto;
    padding-bottom: 25px;
    font-size: 20px;
    text-align: center;
  }
  .menu__h1-text {
    font-family: roboto;
    padding-bottom: 25px;
    text-align: center;
  }
  .menu__button:hover {
    opacity: .8;
  }
  .menu__button {
    margin-left: 50px;
    font-size: 16px;
    width: 70%;
    height: 50px;
    font-family: Roboto;
    font-weight: bold;
    -webkit-box-shadow: 5px 5px 5px 5px gray;
            box-shadow: 5px 5px 5px 5px gray;
    border-radius: 20px;
    border-color: #FF79DA;
    background-color: #FF79DA;
    color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  }
  .menu--h2__section {
    font-family: roboto;
    margin-left: 15px;
    padding: 30px 10px 30px 10px;
  }
  .menu__button-list {
    -webkit-box-shadow: lightgray 5px 5px 5px 5px;
            box-shadow: lightgray 5px 5px 5px 5px;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    width: 300px;
    height: 60px;
    border: solid 5px #F2F2F2;
    border-radius: 15px;
    margin: 15px 0px 10px 0px;
  }
  .menu__button-list:hover {
    border-color: #e7d3ffee;
    background-color: #e7d3ffee;
  }
  .button__icons {
    color: gray;
    margin-left: 20px;
    font-size: 16px;
  }
  .button__icons:hover {
    color: #9356DC;
  }
  .button--text {
    font-weight: bolder;
    font-family: roboto;
    margin-left: 25px;
  }
  .ol {
    list-style-type: none;
  }
  .restuarants--title {
    font-family: roboto;
    padding-bottom: 20px;
  }
  .restraunt--cards__flexbox {
    padding: 60px 15px 50px 15px;
    width: 100%;
    background-color: #f2f2f2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__img-size {
    border-radius: 15px 15px 0px 0px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 150px;
    width: 100%;
  }
  .menu__cards {
    text-decoration: none;
    margin-bottom: 20px;
    -webkit-box-shadow: 10px 10px 10px 10px lightgray;
            box-shadow: 10px 10px 10px 10px lightgray;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: center;
            flex-direction: center;
    width: 100%;
    border-radius: 15px;
    background-color: white;
  }
  .menu__foodname-text {
    color: black;
    font-family: roboto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }
  .menu__location--text {
    color: black;
    font-family: roboto;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .solid-heart {
    margin-top: 15px;
    margin-left: -45px;
    position: absolute;
    opacity: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(#FF79DA, #9356DC);
    font-size: 25px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: opacity 3s;
    transition: opacity 3s;
  }
  .hearts__icons--wrap {
    right: 25px;
    position: absolute;
  }
  .hearts__icons--wrap:hover .outline-heart {
    opacity: 0;
    -webkit-transition: opacity 3s;
    transition: opacity 3s;
  }
  .hearts__icons--wrap:hover .solid-heart {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 100%;
    background: -webkit-gradient(linear, bottom #ff79da, from(#9356DC));
    background: linear-gradient(to bottom #FF79DA, #9356DC);
  }
  .outline-heart {
    color: black;
    position: absolute;
    opacity: 100%;
    -webkit-transition: opacity 3s;
    transition: opacity 3s;
    margin-left: -45px;
    font-size: 25px;
    margin-top: 15px;
  }
  .footer--text__logo {
    margin-bottom: 15px;
    text-decoration: none;
    color: white;
    font-family: shrikhand;
  }
  .footer--flexbox {
    padding: 20px 20px 30px 20px;
    background-color: rgba(0, 0, 0, 0.815);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--text {
    padding-bottom: 7.5px;
    font-family: roboto;
    color: white;
    text-decoration: none;
  }
  .main {
    overflow: hidden;
    position: relative;
  }
  .flexbox--wrap {
    background-color: #f2f2f2;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .arrow {
    padding-left: 25px;
    margin-top: 25px;
    color: #363434;
    text-decoration: none;
    font-size: 25px;
  }
  .img__logo {
    padding: 20px 0px 15px 35px;
    width: 65%;
  }
  .image__entree {
    -o-object-position: -15px 0;
       object-position: -15px 0;
    -o-object-fit: cover;
       object-fit: cover;
    width: 112%;
  }
  .flexbox--entree__menu {
    z-index: 10px;
    position: relative;
    margin-top: -40px;
    border-radius: 40px 40px 0px 0px;
    background-color: #f2f2f2;
    padding: 25px 25px 60px 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .h1__menu {
    font-family: shrikhand;
  }
  .heart {
    margin-left: 25px;
    font-size: 25px;
  }
  .entree__menu {
    padding-bottom: 5px;
    position: relative;
    padding-top: 25px;
    font-family: roboto;
  }
  .entree__menu::after {
    content: '';
    height: 3px;
    width: 12%;
    background-color: #99E2D0;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .entree__card {
    font-size: 13px;
    -webkit-box-shadow: 1px 1px 1px 1px gray;
            box-shadow: 1px 1px 1px 1px gray;
    border-radius: 15px;
    padding: 10px 11px 20px 20px;
    margin-top: 10px;
    background-color: white;
    padding-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .entree__menu--maindish {
    margin-bottom: 5px;
    font-family: roboto;
  }
  .entree__menu--sidedish {
    margin-bottom: 5px;
    font-family: roboto;
  }
  .check-mark:hover {
    -webkit-transform: translate(-50px, 0px);
            transform: translate(-50px, 0px);
  }
  .check-mark {
    -webkit-transition: -webkit-transform 3s ease-in-out;
    transition: -webkit-transform 3s ease-in-out;
    transition: transform 3s ease-in-out;
    transition: transform 3s ease-in-out, -webkit-transform 3s ease-in-out;
    font-size: 18px;
    margin-top: -10px;
    left: 80%;
    position: absolute;
    padding: 19px;
    border-radius: 0px 15px 15px 0px;
    color: white;
    background-color: #99E2D0;
  }
  .money {
    margin-right: 30px;
    margin-top: -20px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .order__now--button {
    margin-bottom: 50px;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 16px;
    width: 60%;
    height: 50px;
    font-family: Roboto;
    font-weight: bold;
    border-radius: 20px;
    border-color: #FF79DA;
    background-color: #FF79DA;
    color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  }
  .order__now--button:hover {
    opacity: .8;
  }
  .img__background {
    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  }
  .flexbox--entree__menu1 {
    z-index: 10px;
    position: relative;
    margin-top: -180px;
    border-radius: 40px 40px 0px 0px;
    background-color: #f2f2f2;
    padding: 25px 25px 60px 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .image__entree1 {
    -o-object-position: -40px 0px;
       object-position: -40px 0px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 112%;
  }
  .heart--title__page2 {
    position: absolute;
    top: 35px;
    right: 30px;
    font-size: 25px;
  }
  .entree__card1 {
    font-size: 13px;
    -webkit-box-shadow: 1px 1px 1px 1px gray;
            box-shadow: 1px 1px 1px 1px gray;
    border-radius: 15px;
    padding: 10px 11px 20px 20px;
    margin-top: 10px;
    background-color: white;
    padding-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: roboto;
  }
  .heart--title__page3 {
    position: absolute;
    top: 35px;
    right: 40px;
    font-size: 25px;
  }
  .flexbox--entree__menu2 {
    z-index: 10px;
    position: relative;
    border-radius: 40px 40px 0px 0px;
    background-color: #f2f2f2;
    padding: 25px 25px 60px 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -63px;
  }
  .flexbox--entree__menu3 {
    z-index: 10px;
    position: relative;
    border-radius: 40px 40px 0px 0px;
    background-color: #f2f2f2;
    padding: 25px 25px 60px 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -68px;
  }
}

@media all and (max-width: 992px) and (min-width: 768px) {
  .img__size--logo {
    margin-left: 225px;
    padding: 20px 25px 20px 25px;
    width: 45%;
  }
  .location__background {
    font-weight: bolder;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: roboto;
    padding: 10px 0px 15px 0px;
    background-color: lightgray;
  }
  .location-icon {
    margin-right: 15px;
  }
  .menu__background-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 35px 0px 60px 0px;
    background-color: #f2f2f2;
  }
  .menu__h1-text {
    font-family: roboto;
    padding-bottom: 20px;
    text-align: center;
  }
  .menu__paragraph-text {
    font-weight: 300;
    font-family: roboto;
    padding-bottom: 25px;
    font-size: 20px;
    text-align: center;
  }
  .menu__button:hover {
    opacity: .8;
  }
  .menu__button {
    margin-left: 190px;
    font-size: 16px;
    width: 50%;
    height: 50px;
    font-family: Roboto;
    font-weight: bold;
    -webkit-box-shadow: 5px 5px 5px 5px gray;
            box-shadow: 5px 5px 5px 5px gray;
    border-radius: 20px;
    border-color: #FF79DA;
    background-color: #FF79DA;
    color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  }
  .menu--h2__section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: roboto;
    padding: 30px 10px 30px 10px;
  }
  .flex-menu__button {
    padding-bottom: 50px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__button-list {
    -webkit-box-shadow: lightgray 5px 5px 5px 5px;
            box-shadow: lightgray 5px 5px 5px 5px;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    width: 300px;
    height: 60px;
    border: solid 5px #F2F2F2;
    border-radius: 15px;
    margin: 15px 0px 10px 0px;
  }
  .menu__button-list:hover {
    border-color: #e7d3ffee;
    background-color: #e7d3ffee;
  }
  .number__position1 {
    font-family: roboto;
    color: white;
    padding: 5px 7.5px 5px 7.5px;
    border-radius: 50px;
    background-color: #9356DC;
    margin-left: -122px;
  }
  .number__position2 {
    font-family: roboto;
    color: white;
    padding: 5px 7.5px 5px 7.5px;
    border-radius: 50px;
    background-color: #9356DC;
    margin-left: -125px;
  }
  .number__position3 {
    font-family: roboto;
    color: white;
    padding: 5px 7.5px 5px 7.5px;
    border-radius: 50px;
    background-color: #9356DC;
    margin-left: -65px;
  }
  .button__icons {
    color: gray;
    margin-left: 20px;
    font-size: 16px;
  }
  .button__icons:hover {
    color: #9356DC;
  }
  .button--text {
    font-weight: bolder;
    font-family: roboto;
    margin-left: 25px;
  }
  .restuarants--title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: roboto;
    padding-bottom: 25px;
  }
  .restraunt--cards__flexbox {
    padding: 60px 15px 50px 15px;
    width: 100%;
    background-color: #f2f2f2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__cards {
    text-decoration: none;
    margin-bottom: 20px;
    -webkit-box-shadow: 10px 10px 10px 10px lightgray;
            box-shadow: 10px 10px 10px 10px lightgray;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: center;
            flex-direction: center;
    width: 100%;
    border-radius: 15px;
    background-color: white;
  }
  .menu__foodname-text {
    color: black;
    font-family: roboto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }
  .menu__location--text {
    color: black;
    font-family: roboto;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .menu__img-size {
    border-radius: 15px 15px 0px 0px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 200px;
    width: 100%;
  }
  .top-right__new {
    font-family: roboto;
    padding: 5px 20px 5px 20px;
    background-color: #99E2D0;
    border-radius: 2.5px 2.5px 2.5px 2.5px;
    font-weight: bolder;
    color: darkgreen;
    margin-top: 10px;
    right: 45px;
    display: inline-block;
    position: absolute;
  }
  .solid-heart {
    margin-top: 15px;
    margin-left: -45px;
    position: absolute;
    opacity: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(#FF79DA, #9356DC);
    font-size: 25px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: opacity 3s;
    transition: opacity 3s;
  }
  .hearts__icons--wrap {
    right: 25px;
    position: absolute;
  }
  .hearts__icons--wrap:hover .outline-heart {
    opacity: 0;
    -webkit-transition: opacity 3s;
    transition: opacity 3s;
  }
  .hearts__icons--wrap:hover .solid-heart {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 100%;
    background: -webkit-gradient(linear, bottom #ff79da, from(#9356DC));
    background: linear-gradient(to bottom #FF79DA, #9356DC);
  }
  .outline-heart {
    color: black;
    position: absolute;
    opacity: 100%;
    -webkit-transition: opacity 3s;
    transition: opacity 3s;
    margin-left: -45px;
    font-size: 25px;
    margin-top: 15px;
  }
  .footer--text__logo {
    margin-bottom: 15px;
    text-decoration: none;
    color: white;
    font-family: shrikhand;
  }
  .footer--flexbox {
    padding: 20px 20px 30px 20px;
    background-color: rgba(0, 0, 0, 0.815);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer--text {
    padding-bottom: 7.5px;
    font-family: roboto;
    color: white;
    text-decoration: none;
  }
}
/*# sourceMappingURL=project3.css.map */